{% extends "base.html" %}

{% block title %}
Manage URLs
{% endblock %}

{% block content %}

<h2>
    URL Management
</h2>

<div class="card shadow">

    <div class="card-body">

        <div class="table-responsive">

            <table class="table table-bordered">

                <thead>

                <tr>

                    <th>ID</th>
                    <th>Short Code</th>
                    <th>Long URL</th>
                    <th>Clicks</th>
                    <th>Category</th>
                    <th>Action</th>

                </tr>

                </thead>

                <tbody>

                {% for url in urls %}

                <tr>

                    <td>{{ url.id }}</td>

                    <td>{{ url.short_code }}</td>

                    <td>

                        <div style="max-width:300px; overflow:auto;">

                            {{ url.long_url }}

                        </div>

                    </td>

                    <td>{{ url.clicks }}</td>

                    <td>{{ url.category }}</td>

                    <td>

                        <a
                        href="/admin/delete-url/{{ url.id }}"
                        class="btn btn-danger btn-sm"
                        onclick="return confirm('Delete URL?')">

                        Delete

                        </a>

                    </td>

                </tr>

                {% endfor %}

                </tbody>

            </table>

        </div>

    </div>

</div>

{% endblock %}